In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [25]:
news=pd.read_csv('india-news-headlines.csv')
stocks=pd.read_csv('^BSESN.csv')

In [26]:
news.head()

,publish_date,headline_category,headline_text
0,20010101,sports.wwe,win over cena satisfying but defeating underta...
1,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
2,20010102,unknown,Fissures in Hurriyat over Pak visit
3,20010102,unknown,America's unwanted heading for India?
4,20010102,unknown,For bigwigs; it is destination Goa

In [27]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3297172 entries, 0 to 3297171
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   publish_date       int64
 1   headline_category  object
 2   headline_text      object
dtypes: int64(1), object(2)
memory usage: 75.5+ MB

In [28]:
stocks.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-10-13,26874.289063,26918.519531,26719.099609,26846.529297,26846.529297,10800.0
1,2015-10-14,26760.320313,26869.080078,26713.279297,26779.660156,26779.660156,10900.0
2,2015-10-15,26842.189453,27037.949219,26836.769531,27010.140625,27010.140625,12700.0
3,2015-10-16,27062.800781,27239.220703,26917.119141,27214.599609,27214.599609,10200.0
4,2015-10-19,27305.619141,27387.910156,27246.789063,27364.919922,27364.919922,8200.0

In [29]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1231 non-null   object
 1   Open       1227 non-null   float64
 2   High       1227 non-null   float64
 3   Low        1227 non-null   float64
 4   Close      1227 non-null   float64
 5   Adj Close  1227 non-null   float64
 6   Volume     1227 non-null   float64
dtypes: float64(6), object(1)
memory usage: 67.4+ KB

In [30]:
stocks.dropna(inplace=True)

In [31]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1227 entries, 0 to 1230
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1227 non-null   object
 1   Open       1227 non-null   float64
 2   High       1227 non-null   float64
 3   Low        1227 non-null   float64
 4   Close      1227 non-null   float64
 5   Adj Close  1227 non-null   float64
 6   Volume     1227 non-null   float64
dtypes: float64(6), object(1)
memory usage: 76.7+ KB

In [32]:
def date_to_year(date):
    return(int(str(date)[:4]))

def date_to_month(date):
    return(int(str(date)[4:6]))

def date_to_day(date):
    return(int(str(date)[6:]))

In [33]:
news['Year']=news['publish_date'].apply(date_to_year)
news['month']=news['publish_date'].apply(date_to_month)
news['day']=news['publish_date'].apply(date_to_day)

In [34]:
news.head()

,publish_date,headline_category,headline_text,Year,month,day
0,20010101,sports.wwe,win over cena satisfying but defeating underta...,2001,1,1
1,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...,2001,1,2
2,20010102,unknown,Fissures in Hurriyat over Pak visit,2001,1,2
3,20010102,unknown,America's unwanted heading for India?,2001,1,2
4,20010102,unknown,For bigwigs; it is destination Goa,2001,1,2

In [35]:
news_main=news[news['Year']>=2015]
news_2015=news_main[news_main["Year"]==2015]
news_2015=news_2015[news_2015["month"]<=10]
news_10=news_2015[news_2015['month']==10]
news_10=news_10[news_10['day']>12]
news_2015.drop(list(news_10.index),inplace=True)
news_main.drop(list(news_2015.index),inplace=True)

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
news_main.head()

,publish_date,headline_category,headline_text,Year,month,day
2203188,20151013,life-style.health-fitness.diet,Best carbs for weight loss,2015,10,13
2203189,20151013,life-style.health-fitness.diet,Diet essentials for working women,2015,10,13
2203190,20151013,life-style.relationships.pets,What's ailing your pet dog?,2015,10,13
2203191,20151013,life-style.relationships.work,Love between the cubicles,2015,10,13
2203192,20151013,life-style.health-fitness.health-news,What your food cravings say about you,2015,10,13

In [37]:
news_main['headline_category'].value_counts()[:10]

india                              50557
city.chandigarh                    41623
city.delhi                         40935
city.mumbai                        38514
city.hyderabad                     36429
entertainment.hindi.bollywood      33838
city.chennai                       33291
business.international-business    31168
city.nagpur                        30914
business.india-business            30764
Name: headline_category, dtype: int64

In [38]:
news_international_business=news_main[news_main['headline_category']=='business.international-business']
news_national_business=news_main[news_main['headline_category']=='business.india-business']

In [39]:
news_international_business.publish_date.value_counts()

20170816    262
20171020    256
20171003    248
20171019    245
20170825    245
           ...
20151129      1
20190116      1
20151209      1
20151225      1
20181030      1
Name: publish_date, Length: 1015, dtype: int64

In [40]:
news_international_business

,publish_date,headline_category,headline_text,Year,month,day
2203323,20151013,business.international-business,Angus Deaton; who worked on poverty in India; ...,2015,10,13
2203605,20151013,business.international-business,Shanghai; Hong Kong stocks down after China tr...,2015,10,13
2203613,20151013,business.international-business,Gold drops from 3-month high on profit taking,2015,10,13
2203620,20151013,business.international-business,Norway's Gassco revises unplanned outage at He...,2015,10,13
2203801,20151013,business.international-business,SABMiller accepts 68bn AB InBev takeover offer,2015,10,13
...,...,...,...,...,...,...
3274556,20200516,business.international-business,Donald Trump threatens to tax companies produc...,2020,5,16
3280022,20200527,business.international-business,From Wall Street to Bethlehem; iconic sites re...,2020,5,27
3280028,20200527,business.international-business,Boeing set to announce significant US job cuts...,2020,5,27
3284039,20200604,business.international-business,US launches probe into tax on Amazon; Netflix,2020,6,4
3288524,20200613,business.international-business,lessons from chinese companies response to cov...,2020,6,13

In [41]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\elklo\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [42]:
sia=SentimentIntensityAnalyzer()
news_international_business['Negative'] = [sia.polarity_scores(v)['neg'] for v in news_international_business['headline_text']]
news_international_business['Neutral'] = [sia.polarity_scores(v)['neu'] for v in news_international_business['headline_text']]
news_international_business['Positive'] = [sia.polarity_scores(v)['pos'] for v in news_international_business['headline_text']]

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [43]:
news_international_business.drop(['Year','month','day','headline_category'],axis=1,inplace=True)

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [44]:
grouped=pd.DataFrame(news_international_business.groupby('publish_date')['headline_text'].sum())
grouped

                                                  headline_text
publish_date
20151013      Angus Deaton; who worked on poverty in India; ...
20151014      China inflation falls in September: GovtDollar...
20151015      Lupin; Boehringer to co-market drugNo pressure...
20151016             US deficit in 2015 drops to eight-year low
20151017      US could run out of cash after November 3: Tre...
...                                                         ...
20200422      US Senate approves nearly $500 billion more fo...
20200516      Donald Trump threatens to tax companies produc...
20200527      From Wall Street to Bethlehem; iconic sites re...
20200604          US launches probe into tax on Amazon; Netflix
20200613      lessons from chinese companies response to cov...

[1015 rows x 1 columns]

In [45]:
df_close=stocks[['Date','Close']]
import string
def datetostr(date):
    published_date=[d for d in date]
    published_date=[d for d in date if d not in string.punctuation]
    published_date=''.join(published_date)
    return int(published_date)
df_close['publish_date']=df_close['Date'].apply(datetostr)
df_close.drop('Date',axis=1,inplace=True)
df_close=df_close[['publish_date','Close']]
df_close

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\elklo\Anaconda3\envs\Aadesh\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      publish_date         Close
0         20151013  26846.529297
1         20151014  26779.660156
2         20151015  27010.140625
3         20151016  27214.599609
4         20151019  27364.919922
...            ...           ...
1226      20201006  39574.570313
1227      20201007  39878.949219
1228      20201008  40182.671875
1229      20201009  40509.488281
1230      20201012  40593.800781

[1227 rows x 2 columns]

In [46]:
close_date=list(df_close['publish_date'].values)
group_date=list(grouped.index)

In [1]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\elklo\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
sia=SentimentIntensityAnalyzer()
news_international_business['Negative'] = [sia.polarity_scores(v)['neg'] for v in news_international_business['headline_text']]
news_international_business['Neutral'] = [sia.polarity_scores(v)['neu'] for v in news_international_business['headline_text']]
news_international_business['Positive'] = [sia.polarity_scores(v)['pos'] for v in news_international_business['headline_text']]